<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Back Button</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h1>Game</h1>
  <p>Use the back button to navigate to the previous page.</p>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let card of levelCards" size="6" size-md="4" size-lg="3">
        <app-memory-card [cardClass]="card.cardClass" [cardSrc]="card.cardSrc"></app-memory-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
